.navigation{
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    list-style-type: none;
}

.navbar ul{
    display: flex;
    gap: 20px;
}

.navbar ul li a{
    text-decoration: none;
}
.container {
    background-color: #ffff;
    width: 380px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: ;
}